<ion-view view-title="Inicio">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>

  <ion-content class="padding">


    <div class="item item-input" style="height: 10%" >
      <input ion-autocomplete type="text" placeholder="Pesquisar Instituicao" readonly="readonly" ng-model="nomeInstituicao"
             class="ion-autocomplete" autocomplete="off"  items-method="callbackMethod(query)" />
      <i class="button button-clear icon ion-search padding-right" ng-click="pesquisar(nomeInstituicao)"></i>
    </div>

    <div style="margin-top: 10px">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="instituicao in instituicoes" type="item-text-wrap" ng-click="go('/instituicao/'+instituicao.id)">
        <img ng-src="http://sisdo-web{{instituicao.picture}}">
        <h2>{{instituicao.fancyName}}</h2>
        <p>{{instituicao.branch}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    </div>
  </ion-content>
</ion-view>
