
<ion-view view-title="Transacao" class="text-center" name="transacao">
    <ion-content class="padding">
        <label class="item">
            <b>{{transacao.institutionUser}}</b>
        </label>
        <label class="item">
            Campanha : {{transacao.product}}
        </label>
        <label class="item">
            Quantidade Doada : {{transacao.quantify}}
        </label>
        <label class="item">
            Data Inicio : {{transacao.startDate}}
        </label>

        <button class="button button-full button-balanced" type="submit"
                ng-click="go('/mensagens/'+transacao.id)">Enviar Mensagem</button>
    </ion-content>
</ion-view>
